.participants-metabox-container th.column-displayname { width: 200px; }
.participants-metabox-container th.column-initials { width: 50px; }
.participants-metabox-container th.column-email { width: 145px; }
.participants-metabox-container th.column-headshot { width: 110px; }

.participants-metabox-container tr.delete-participant { background: #dfdfdf; opacity: 0.3; }
.participants-metabox-container tr.delete-participant .delete-message{ display: block; }

.participants-metabox-container tr,
.participants-metabox-container td { vertical-align: middle; }

.participants-metabox-container td.invalid input { border-color: #e6db55; }
.participants-metabox-container td .message { display: none; font-size: 10px; font-weight: bold; }
.participants-metabox-container td.invalid .message { display: inline-block; font-size: 14px; cursor: default; font-weight: bolder; font-family: serif; background: #ffffe0; width: 8px; text-align: center; border: 1px solid #e6db55; }

.participants-metabox-container td a { white-space: nowrap; vertical-align: middle; }
.participants-metabox-container td a.button { font-size: 10px !important; padding: 2px 8px; display: inline-block; }
.participants-metabox-container td a.upload-image-button-remove,
.participants-metabox-container td.hasHeadshot a.upload-image-button { display: none; }
.participants-metabox-container td.hasHeadshot a.upload-image-button-remove { display: inline-block; }

.participants-metabox-container td .headshot-image { display:none; width: 35px; height: 45px; vertical-align: middle; margin: 0 4px; border: 1px solid #E9DECF; }
.participants-metabox-container td.hasHeadshot .headshot-image { display: inline-block; }

.participants-metabox-container input { line-height: 1 !important; }
.participants-metabox-container input[data-name="display_name"] { width: 200px; }
.participants-metabox-container input[data-name="initials"] { width: 50px; }
.participants-metabox-container input:disabled { background-color: #eee; color: #aaa; }

.participants-metabox-container tr.new-row { display: none; background-color: #f1f1f1; background-image: -ms-linear-gradient(top,#f9f9f9,#ececec); background-image: -moz-linear-gradient(top,#f9f9f9,#ececec); background-image: -o-linear-gradient(top,#f9f9f9,#ececec); background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec)); background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec); background-image: linear-gradient(top,#f9f9f9,#ececec); }
.participants-metabox-container tr.new-row .delete-participant { display:none; }

.participants-metabox-container .meta-ui { overflow: auto; line-height: 2; }
.participants-metabox-container .saveorpublish-notice { display: none; float: right; background-color: #ffffe0; border-color: #e6db55; padding: 0 .6em; -webkit-border-radius: 3px; border-radius: 3px; border-width: 1px; border-style: solid; }
